<html>
  <body>
<div id="loginDiv">
  <div id="logoDiv">
    <img src="../../assets/Images/oiio-logo.png">
  </div>
  <div id="formDiv">
    <h1>Inloggen</h1>
  <div>
    <p>Contact type</p>
<select (change)="changeContactType($event)" (change)="changeCurrentContactByType()" id="ContactTypeSelect">
  <option>Tenant</option>
  <option>Client</option>
</select>
</div><br>
<div>
<p>Naam</p>
<select (change)="changeCurrentContact($event.target.value)">
  <option *ngFor="let contact of contacts; let i = index" [value]="contact.id">{{contact.firstName + " " + contact.surname}}</option>
</select>
</div><br>
<nav>
  <button (click)="loginHandle($event)" title="clientHome">Login</button>
</nav>
</div>
</div>
</body>
</html>
