<div id="appointmentDiv">
<div id="titleDiv">
<h1>{{appointmentDto.appointment.title}}</h1>
</div>
<div id="informationDiv">
<h3><img src="../../assets/Images/calendar.png">{{dateString +" van "+ startHour+" tot "+endHour}}</h3>
<h3><img src="../../assets/Images/pin.png">{{appointmentDto.address.street + " " + appointmentDto.address.number + ", " + appointmentDto.address.postal + " " + appointmentDto.address.city}}</h3>
<h3><img src="../../assets/Images/group.png">{{client.firstName + " " + client.surname + " - " + tenant.firstName + " " + tenant.surname}}</h3>
</div>
<div id="descriptionDiv">
<p>{{appointmentDto.appointment.description}}</p>
</div>
</div>
