@page "/"
@inherits LoginBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime;

<h1>Login page</h1>
<p>Dit zijn alle contacten</p>
@if (Contacts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <select>
        <option>Tenant</option>
        <option>Client</option>
    </select>
    <select id="NameSelection" @onchange="(() => ChangeCurrentContact(4))">
        @foreach (var contact in Contacts)
        {
            <option>@contact.FirstName @contact.Surname</option>
        }
    </select>
    <button class="btn-danger" @onclick="(() => LoginButtonClick())">Login</button>



    @code{
        private void LoginButtonClick()
        {
            string url = "/clienthome/" + CurrentContactId;
            NavigationManager.NavigateTo(url, true);
        }

        private void ChangeCurrentContact(int id)
        {
            CurrentContactId = id;
            Console.WriteLine(id);
        }
    }
}