<html>
  <body>
    <app-top-layout [contact] = "contact"></app-top-layout>
    <div class="NewAppointmentDiv">
      <form #appointmentForm="ngForm" (ngSubmit)="submit(appointmentForm)" novalidate>
    <div class="TenantDiv">
      <label>nieuwe afspraak met:</label>
      <select type="number" (change)="changeCurrentContact($event.target.value)" [(ngModel)]="toAddAppointment.tenantId" name="tenantId" #tenantId="ngModel" required>
        <option *ngFor="let contact of contacts; let i = index" type="number" [value]="contact.id">{{contact.firstName + " " + contact.surname}}</option>
      </select>
    </div>
      <div class="InformationDiv">
        <h2>Informatie afspraak</h2>
        <input type="text" id="title" placeholder="title" [(ngModel)]="toAddAppointment.title" name="title" #title="ngModel" required/><br/>
        <input type="text" name="description" class="Description" placeholder="description" [(ngModel)]="toAddAppointment.description" name="description" #description="ngModel" required/><br/>
      <div>
        <h2>Locatie afspraak</h2>
        <select [(ngModel)]="currentAddress" name="currentAddress" >
          <option  *ngFor="let address of addresses;" [ngValue]="address">{{address.street + " " + address.number + " - " + address.city + " " + address.postal}}</option>
        </select>
      </div>
    </div>
    <div class="TimeDiv">
      <h2>Selecteer Afspraakduur</h2>
        <select type="number" name="duration" placeholder="duur" [(ngModel)]="toAddAppointment.duration" name="duration" #duration="ngModel" required>
          <option value="15">15 minuten</option>
          <option value="30">30 minuten</option>
          <option value="45">45 minuten</option>
          <option value="60">60 minuten</option>
        </select>
      <div>
      <h2>Selecteer datum</h2>
      <input type="date" name="date" [(ngModel)]="toAddAppointment.date" name="date" #date="ngModel" required>
      </div>
    </div>
    <button type="submit"  [disabled]="!appointmentForm.form.valid">Bevestig</button>
    <button type="button" (click)="BackHandle($event)" title="clientHomePage">Terug</button>
    <p *ngIf="!appointmentForm.form.valid" class="error"> Gelieve alle velden in te vullen</p>
  </form>
    </div>
  </body>
</html>
