html { background-color: rgb(233, 230, 230);
  background-size: cover;
	position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-repeat: no-repeat;
  overflow: hidden;
}

body{
  height: 100%;
  width: 100%;
}

label{
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
}

input{
  width: 100%;
  padding: 10px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select{
  width: 100%;
  padding: 10px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.NewAppointmentDiv{
  height: 100%;
  width: 100%;
  margin-left: 20px;
}
h2{
  margin-top: 2px;
  margin-bottom: 2px;
}

.Description{
  height: 100px;
}

.TenantDiv{
  width: 100%;
}
.TenantDiv label{
  display: block;
  font-size: 30px;
  font-weight: bold;
  float: left;
}

.TenantDiv select{
  display: block;
  width: 25%;
  float: left;
}

.InformationDiv{
  width: 32%;
  height: 100%;
}

.TimeDiv{
  width: 32%;
  height: 100%;
}

button{
  font-size: large;
  width: 150px;
  height: 50px;
  color: white;
  margin-left: 10px;
  background-color: darkturquoise;
  border-color: darkturquoise;
  text-align: center;
  margin-top: 20px;
}

button[disabled]
{
  background-color: gray;
  border-color: gray;
}
