<html>
  <body>
    <app-top-layout [contact] = "contact"></app-top-layout>
    <div id="appointmentsDiv">
      <h1>aankomende afspraken</h1>
      <app-appointment-client *ngFor="let appointmentDto of appointmentDtos" [appointmentDto]="appointmentDto"></app-appointment-client>
    </div>
    <nav class="AddAppointment">
      <button routerLink="/addAppointment/{{contactId}}" [routerLinkActive]="'current'" title="addAppointentClient"><img src="../../assets/Images/plus-icon.png"></button>
    </nav>
  </body>
</html>
