html { background-color:  rgb(233, 230, 230);
  background-size: cover;
	position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-repeat: no-repeat;
  overflow: hidden;
}

#appointmentsDiv{
  width: 45%;
  overflow:scroll;
  display: inline-block;
  float: left;
  margin: 0px;
  padding: 20px;
  height: 650px;
  background-color: rgb(233, 230, 230);
}

#appointmentsDiv h1{
  margin: 0px;
  width: 100%;
  border: 0px;
  margin: 0px;
}

#algorithmDiv{
  width: 45%;
  overflow:scroll;
  display: inline-block;
  float: right;
  margin: 0px;
  padding: 20px;
  height: 650px;
  background-color: rgb(233, 230, 230);
}

#algorithmDiv h1{
  margin: 0px;
  width: 100%;
  border: 0px;
  margin: 0px;
}

.AddAppointment{
  float: right;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.AddAppointment button{
  height: fit-content;
  width: fit-content;
  background-color:transparent;
  border: transparent;
}

.AddAppointment button img{
  background-color: transparent;
  float: right;
  border: transparent;
  width: 75px;
  height: 75px;
}

button{
  font-size: large;
  width: 150px;
  height: 50px;
  color: white;
  background-color: darkturquoise;
  border-color: darkturquoise;
  text-align: center;
}

select{
  width: 100%;
  padding: 10px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
